<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width= device-width, initial-scale-1"> 
<title>Postit - Message board</title>
<link rel="stylesheet" href="/Users/Mart/Desktop/Resource/Craft/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.css">
<link rel="stylesheet" href="/Users/Mart/Desktop/Resource/Craft/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="">      
<script src=""></script>
 </head>
 <body>
     <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target" aria-expanded="false">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <h3>PostIt<h3>
                </div>
                
                <div class="collapse navbar-collapse" id="target">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./messageboard.html">Message Board</a></li>
                        <li><a href="./creategroup.html">Create Group</a></li>
                        <li><a href="">Post Message</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="img-responsive img-rounded" href="" alt=""/><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">userdetails</a></li>
                                <li><a href="./login.html">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form pull-right">
                        <div class="form-group">
                            <input class="form-control" type="text" id="searchchannel" placeholder="search for users">
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h4>Group</h4>
                    <hr>
                    <ul class="nav nav-list">
                        <li><b>unread message group</b></li>
                        <li>read message group</li>
                        <li>read message group</li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <h4>Message board</h4>
                    <hr>
                </div>
            </div>
        </div>
 </body>
</html>